body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	margin: 0;
}

br {
}

header {
	background-color: #0f1012;
}

#header-C {
	border: 1px solid red;
	
	align-items: center;
	color: #eee;
	display: flex;
	height: 100px;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 20px;
}

#logo--big {
	display: none;
	font-size: 2.5rem;
	font-weight: bold;
}

#logo--small {
	font-size: 2.5rem;
	font-weight: bold;
}

nav {
	display: flex;
	font-size: 1.1rem;
	justify-content: space-between;
	width: 250px;
}

.navLink {
	border-bottom: 2px solid rgba(0,0,0,0);
	padding-bottom: 4px;
	padding-top: 6px;
}

.navLink:hover {
	border-color: #eee;
}

#landingPage {
	color: #bbb;
	height: calc(100vh - 100px);
	position: relative;
}

#heading-C {
	align-items: center;
	color: #eee;
	display: flex;
	font-size: 10vw;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;
}

h1 {
	font-family: 'Roboto';
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.1em;
}

h2 {
	font-family: 'Roboto';
	font-size: 0.32em;
	letter-spacing: 1px;
	margin-top: 10px;
}

#landingPage__CallToActionBtn-C {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 50px;
	width: 450px;
	
	display: none;
}

.callToActionBtn {
	background-color: #1871b5;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 10px 40px;
}

#landingPage__mask {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 0;
}

#backgroundCodeEditor {
	background-color: #0f1012;
	display: flex;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	z-index: -1;
}

#backgroundCodeEditor__tree {
	display: none;
}

.backgroundCodeEditor__tree__text {
	display: block;
	padding: 0.38em 0;
	padding-left: 1.2em;
	padding-right: 1.4em;
}

#backgroundCodeEditor__tree__text--active {
	background-color: #282a2e;
}

.backgroundCodeEditor__tree__text--1stepIn {
	text-indent: 1.2em;
}

.backgroundCodeEditor__tree__text--2stepIn {
	text-indent: 2.4em;
}

.icon-css {
	color: #1871b5;
}

.icon-image {
	color: #59a6ba;
}

#backgroundCodeEditor__editor {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

#backgroundCodeEditor__tab--active {
	background-color: #1b1f20;
}

#backgroundCodeEditor__tab-C {
	display: flex;
}

.backgroundCodeEditor__tab {
	align-items: center;
	display: flex;
	height: 2.8em;
	justify-content: center;
	text-align: center;
	width: 13em;
}

#backgroundCodeEditor__pane {
	background-color: #1b1f20;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Mono', monospace;
	height: 100%;
	line-height: 1.25em;
	padding-top: 0.5em;
}

.backgroundCodeEditor__pane__lineNumber {
	padding: 0 1em;
}

.backgroundCodeEditor__pane__lineNumber--singleDigit {
	padding-left: 1.5em;
}

.backgroundCodeEditor__pane__code--1stepin {
	padding-left: 1.9em;
}

.backgroundCodeEditor__pane__code--2stepin {
	padding-left: 3.8em;
}

.backgroundCodeEditor__pane__code--3stepin {
	padding-left: 5.7em;
}

.text-htmlTags {
	color: #cc6666;
}

.text-tagAttributes {
	color: #f0c674;
}

.text-tagAttributeValues {
	color: #de935f;
}

.text-comments {
	color: #969896;
}

@media (orientation: portrait) {
	#backgroundCodeEditor {
		font-size: 1.75vh;
	}
}

@media (min-width: 500px) {
	#header-C {
		padding: 0 50px;
	}
	
	h2 {
		font-size: calc(13.5px + 0.5vw);
	}
}

@media (min-width: 550px) {
	#logo--big {
		display: block;
	}
	
	#logo--small {
		display: none;
	}
}

@media (min-width: 850px) {
	h1 {
		font-size: calc(84px + 1.1vw);
	}
}

@media (min-width: 1100px){
	#backgroundCodeEditor__tree {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 1280px) and (orientation: landscape) {
	#landingPage {
		max-height: 72vw;
	}
	
	#backgroundCodeEditor {
		font-size: 1.25vw;
	}
}
