body {
	font-family: sans-serif;
	font-size: 100%;
	margin: 0;
}

br {
}

header {
	align-items: center;
	 background-color:#0f1012;
	 color: #ccc;
	 display: flex;
	 height: 100px;
	 justify-content: space-between;
}

nav {
	
}

#landingPage {
	color: #bbb;
	height: calc(100vh - 100px);
	position: relative;
}

#heading-C {
	align-items: center;
	color: #eee;
	display: flex;
	font-size: 9.5vw;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;
}

h1 {
	font-size: 1em;
	font-weight: bold;
}

h2 {
	font-size: 0.28em;
}

#landingPage__mask {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 0;
}

#backgroundCodeEditor {
	background-color: #0f1012;
	display: flex;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	z-index: -1;
}

#backgroundCodeEditor__tree {
	display: none;
}

.backgroundCodeEditor__tree__text-C {
	align-items: center;
	display: flex;
	height: 2em;
	padding: 0 1.2em;
}

#backgroundCodeEditor__tree__text-C--active {
	background-color: #282a2e;
}

.backgroundCodeEditor__tree__text {
	display: block;
	padding-right: 0.5em;
}

.backgroundCodeEditor__tree__text--1stepIn {
	padding-left: 1.25em;
}

.backgroundCodeEditor__tree__text--2stepIn {
	padding-left: 2.5em;
}

.icon-css {
	color: #1871b5;
}

.icon-image {
	color: #59a6ba;
}

#backgroundCodeEditor__editor {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

#backgroundCodeEditor__tab-C {
	display: flex;
}

#backgroundCodeEditor__tab--active {
	background-color: #1b1f20;
}

.backgroundCodeEditor__tab {
	align-items: center;
	display: flex;
	height: 2.8em;
	justify-content: center;
	width: 13em;
}

#backgroundCodeEditor__pane {
	background-color: #1b1f20;
	display: flex;
	flex-direction: column;
	height: 100%;
	line-height: 130%;
	padding-top: 0.3em;
}

.backgroundCodeEditor__pane__lineNumber {
	padding: 0 0.8em;
}

.backgroundCodeEditor__pane__lineNumber--singleDigit {
	padding-left: 1.2em;
}

.backgroundCodeEditor__pane__code--1stepin {
	padding-left: 1.9em;
}

.backgroundCodeEditor__pane__code--2stepin {
	padding-left: 3.8em;
}

.backgroundCodeEditor__pane__code--3stepin {
	padding-left: 5.7em;
}

.text-htmlTags {
	color: #cc6666;
}

.text-tagAttributes {
	color: #f0c674;
}

.text-tagAttributeValues {
	color: #de935f;
}

.text-comments {
	color: #969896;
}

@media (orientation: portrait) {
	#backgroundCodeEditor {
		font-size: 1.75vh;
	}
}

@media (min-width: 1280px) {
	#backgroundCodeEditor {
		font-size: 1.25vw;
	}
}

@media (min-width: 1100px) {
	#backgroundCodeEditor__tree {
		display: block;
	}
}

@media (min-Width: 900px) {
	#heading-C {
		font-size: calc(76px + 1vw);
	}
}

@supports (display: grid) {
	#heading-C {
		color: red;
	}
}
