body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	margin: 0;
}

header {
	background-color: #121519;
}

#header-C {
	align-items: center;
	color: #eee;
	display: flex;
	height: 65px;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 calc(2.1px + 5.6vw);
}

#logo--big {
	color: inherit;
	display: none;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
}

#logo--small {
	color: inherit;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
}

#header__nav {
	display: flex;
	font-size: 1.1rem;
	justify-content: space-between;
	max-width: 250px;
	min-width: 200px;
	width: calc(136px + 20vw);
}

.navLink {
	border-bottom: 2px solid rgba(0,0,0,0);
	padding: 6px 0 4px 0;
}

.navLink:hover {
	border-color: #eee;
}

#navLink--contact {
	border-bottom: 2px solid rgba(0,0,0,0);
	color: #419be2;
	font-weight: 500;
	padding: 6px 0 4px 0;
}

#navLink--contact:hover {
	border-color: #419be2;
}

#landingPage {
	color: #bbb;
	height: calc(100vh - 65px);
	position: relative;
}

#heading-C {
	align-items: center;
	color: #eee;
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 10vw;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;
}

h1 {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.1em;
	margin-bottom: 2px;
}

#mainSubtitle {
	font-size: 0.32em;
	letter-spacing: 1px;
}

#CTA--projects {
	display: block;
	background-color: #1871b5;
	border: none;
	color: white;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px 85px; /*12 60*/
}

#CTA--scroll-C {
	align-items: center;
	bottom: 0;
	color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	z-index: 1;
}

@keyframes arrowBounce {
	25% {
		bottom: 0;
	}
	
	50% {
		bottom: 10px;
	}
	
	75% {
		bottom: 10px;
	}
	
	100% {
		bottom: 0;
	}
}

#CTA--scroll {
	animation-name: arrowBounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    height: 50px;
	margin-bottom: 15px;
	position: relative;
    stroke: #eee;
    stroke-width: 35px;
    width: 50px;
}

#landingPage__mask {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 0;
}

#backgroundCodeEditor {
	background-color: #0f1012;
	display: flex;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	z-index: -1;
}

#backgroundCodeEditor__tree {
	display: none;
}

.backgroundCodeEditor__tree__text {
	display: block;
	padding: 0.38em 0;
	padding-left: 1.2em;
	padding-right: 1.4em;
}

#backgroundCodeEditor__tree__text--active {
	background-color: #282a2e;
}

.backgroundCodeEditor__tree__text--1stepIn {
	text-indent: 1.2em;
}

.backgroundCodeEditor__tree__text--2stepIn {
	text-indent: 2.4em;
}

.icon-css {
	color: #1871b5;
}

.icon-image {
	color: #59a6ba;
}

#backgroundCodeEditor__editor {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

#backgroundCodeEditor__tab--active {
	background-color: #1b1f20;
}

#backgroundCodeEditor__tab-C {
	display: flex;
}

.backgroundCodeEditor__tab {
	align-items: center;
	display: flex;
	height: 2.8em;
	justify-content: center;
	text-align: center;
	width: 13em;
}

#backgroundCodeEditor__pane {
	background-color: #1b1f20;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Mono', monospace;
	height: 100%;
	line-height: 1.25em;
	padding-top: 0.4em;
}

.backgroundCodeEditor__pane__lineNumber {
	padding: 0 1em;
}

.backgroundCodeEditor__pane__lineNumber--singleDigit {
	padding-left: 1.5em;
}

.backgroundCodeEditor__pane__code--1stepin {
	padding-left: 1.9em;
}

.backgroundCodeEditor__pane__code--2stepin {
	padding-left: 3.8em;
}

.backgroundCodeEditor__pane__code--3stepin {
	padding-left: 5.7em;
}

.text-htmlTags {
	color: #cc6666;
}

.text-tagAttributes {
	color: #f0c674;
}

.text-tagAttributeValues {
	color: #de935f;
}

.text-comments {
	color: #969896;
}

#aboutPage {
	background-color: grey;
	font-size: 3vw;
	margin: 0 auto;
	width: 90vw;

	display: none;
}

#aboutHeading {
	font-size: 2em;
}

#contactPage {
	font-size: 10vw;
	padding: 20px 0;
}

#contactHeading {
	color: #419be2;
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: center;
}

#contactForm {
	display: flex;
	flex-direction: column;
	height: 450px;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 600px;
	width: 90vw;
}

.contactForm__input {
	border: 2px solid grey;
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 50px;
	justify-content: center;
	padding: 0 8px;
}

.contactForm__input__label {
	color: #419be2;
	display: none;
	font-size: 0.8rem;
	font-weight: 500;
	margin-bottom: 2px;
}

.contactForm__textInput {
	/*height: 50px;*/
	border: none;
	display: block;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	width: 100%;
}

#contactForm__input__subject {
	background-color: white;
	border: 2px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
	padding: 0 8px;
}

#contactForm__subject::-ms-expand {
    display: none;
}

#contactForm__subject {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: white;
	border: none;
	display: block;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	height: 20px;
	outline: none;
}

#contactForm__input__message {
	background-color: white;
	border: 2px solid grey;
	display: flex;
	flex-direction: column;
	height: 200px;
	padding: 8px 8px;
}

#contactForm__message {
	border: none;
	flex-grow: 1;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	resize: none;
	width: 100%;
}

#CTA--contact {
	background-color: #1871b5;
	border: none;
	color: white;
	font-family: inherit;
	font-size: 18px;
	height: 55px;
}

footer {
	background-color: #121519;
	color: #ddd;
}

#footer__nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 500px;
	padding: 40px 0;
	width: 80vw;
}

@media (orientation: portrait) {
	#landingPage {
		max-height: none;
	}
	
	#backgroundCodeEditor {
		font-size: 1.75vh;
	}
}

@media (min-width: 500px) {	
	#mainSubtitle {
		font-size: calc(13.5px + 0.5vw);
	}
}

@media (min-width: 550px) {
	#header-C {
		height: calc(53.74px + 2.05vw);
	}
	
	#logo--big {
		display: block;
	}
	
	#logo--small {
		display: none;
	}
	
	#landingPage {
		height: calc(100vh - (53.74px + 2.05vw));
	}
	
	#CTA--projects {
		padding: calc(20.44px - 0.99vw) calc(130.7px - 8.31vw);
	}
}

@media (min-width: 850px) {
	#header-C {
		padding: 0 50px;
	}
	
	h1 {
		font-size: calc(84px + 1.1vw);
	}
	
	#CTA--projects {
		padding: 12px 60px;
	}
}

@media (min-width: 1100px){
	#backgroundCodeEditor__tree {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 1280px) {
	#header-C {
		height: 80px;
	}
	
	#landingPage {
		height: calc(100vh - 80px);
	}
}

@media (min-width: 1280px) and (orientation: landscape) {
	#backgroundCodeEditor {
		font-size: 1.25vw;
	}
}

@media (min-width: 1440px) {
	#header-C {
		padding: 0 calc(530px - 33.33vw);
	}
}

@media (min-width: 1590px) {
	#header-C {
		padding: 0;
	}
}
