@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1qa2ud');
  src:  url('fonts/icomoon.eot?1qa2ud#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1qa2ud') format('truetype'),
    url('fonts/icomoon.woff?1qa2ud') format('woff'),
    url('fonts/icomoon.svg?1qa2ud#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HTML .path1:before {
  content: "\e906";
  color: rgb(227, 79, 38);
}
.icon-HTML .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(239, 101, 42);
}
.icon-HTML .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-HTML .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-javascript .path1:before {
  content: "\e902";
  color: rgb(247, 223, 30);
}
.icon-javascript .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-sass:before {
  content: "\e905";
  color: #cf649a;
}
.icon-file:before {
  content: "\e903";
}
.icon-image:before {
  content: "\e90d";
}
.icon-html:before {
  content: "\eae4";
}
.icon-css:before {
  content: "\eae6";
}
.icon-arrow_right:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
